@charset "UTF-8";

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: brown;
}

h2 {
    color: blue;
}

.destaque {
    color: black;
    text-align: center;
    background-color: aliceblue;
    
}

.basico {
    color: blueviolet;
    font-weight: bold;
}

.intermediario {
    color: green;
}

.avançado {
    color: yellow;
}
